footer {
  /* background-color: $green; */
  /* color: white; */
  padding: 2em;
  padding-bottom: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

footer i {
  text-decoration: none;
  color: $dark-green;
}

footer a {
  text-decoration: none;

}

footer a:visited {
  text-decoration: none;
  color: $dark-green;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 2em;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
}

.footer-bottom {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: $dark-green;
  padding: 1em 2em 1em;
  align-items: end;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: xx-small;
  background-color: $dark-green;
  width: 100vw;
  padding: 2;
}
